/* You can add global styles to this file, and also import other style files */

/* Variables */
$primary-color: #034F84;
$secondary-color: #92A8D1;
$tertiary-color: #F7786B;
$quarternary-color: #F7CAC9;
$white-color: #F0F0F0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

div.main-app {
    background: linear-gradient(180deg, $primary-color, $secondary-color, $primary-color);
    height: 100vh;
    padding: 2rem;
}